name: 'estudo_otel'
services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-config.yaml"]
    volumes:
      - ./otel-config.yaml:/etc/otel-config.yaml
    ports:
      - "4317:4317" # Porta gRPC (Sua app usa essa)
      - "4318:4318" # Porta HTTP
      - "8889:8889" # Porta onde o Prometheus vai raspar o Collector
    depends_on:
      - prometheus
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
    ports:
      - "9090:9090"
      
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # Senha inicial
      - GF_USERS_ALLOW_SIGN_UP=false # Impede que estranhos criem conta na tela de login
    ports:
      - "3000:3000"
    depends_on:
      - prometheus